*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #f43127 ;
    --primary-color-rgb: 244, 49, 39;
    --secondary-color: #fcb302;
    --secondary-color-rgb: 252, 179, 2;
    --bg-color: #eeeeee;
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --fs: 16px;
    --lh: 1.5;
    --fw: 400;
    --gw: 15px;
    --title-font: 'Barlow';
    --description-font: 'Roboto';
}
body{
    background-color: var(--bg-color);
    color: var(--black);
    font-family: var(--description-font);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
ul, ol{
    padding-left: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: 400;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
} 
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.row-gap-30{
    row-gap: 30px;
}
.col-gap-30{
    column-gap: 30px;
}
.btn{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn i{
    margin-right: 5px;
}
.btn-secondary{
    background-color: var(--secondary-color);
    color: var(--black);
}
.btn-white{
    background-color: var(--white);
    color: var(--black);
}
/* header */
header{
    background-color: var(--white);
}
.logo a img{
    max-width: 150px;
}
nav ul, .contact-detail ul{
    display: flex;
}
nav ul li a{
    display: block;
    padding: 30px 20px;
    color: var(--black);
    text-transform: uppercase;
    font-family: var(--title-font);
    font-weight: 600;
}
.contact-detail ul li a i, .contact-detail ul li .call .call-icon i{
    display: block;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    text-align: center;
    line-height: 49px;
    background-color: var(--bg-color);
    color: var(--black);
}
.call{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.contact-detail ul{
    column-gap: 15px;
}
.call-detail a{
    font-weight: 700;
    color: var(--primary-color);
} 
/* banner */
.banner{
    background-image: url('../Images/banner/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}
.banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    background-image: url('../Images/banner/banner-shape.png');
    right: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
}
/* .banner-content{
    max-width: 600px;
} */
.banner-content h1{
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 55px;
    line-height: 2;
}
.banner-content h2{
    text-transform: uppercase;
    color: var(--black);
    font-weight: 800;
    font-size: 72px;
    line-height: 1;
}
.banner-content p{
    
}
.banner-content .btn{
    margin-top: 20px;
}
/* .banner-img img{ 
} */
