*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color-400: #f43127 ;
    --primary-color-400-rgb: 244, 49, 39;
    --secondary-color-200:#fcb302;
    --secondary-color-200-rgb:252, 179, 2;
    --bg-color: #eddfc6;
    --white:white;
    --white-rgb:rgb(255, 255, 255);
    --black:black;
    --black-rgb: 0, 0, 0;
    --fs:16px;
    --lh:2;
    --fw:600;
    --gw: 15px;
    --title-font: 'Barlow';
    --description-font: 'Roboto';
}
body{
    background-color:white ;
    color: #7A7A7A;
    font-size : 16px;
    font-weight : 400;
    line-height : 22px;
}
a{
    text-decoration: none;
}
img{
    max-width:100%;
    display: block;
}
ol,ul{
    list-style: none;
    padding-left: 0;
}
body{
    background-color: var(--white);
    font-family: var(--description-font);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: 400;
}
/* Main Header */
.container{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
    align-items: center;
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.logo{
    height: 50px;
    weight: 100px;
}
.logo img{
    height: 50px;
    weight: 100px;
}   
.header{
    position: absolute;
    padding-top: 12px 0;
    width: 100%;
    z-index: 2;
}
.header-menu span{
    display: flex;
    color: white;
    font-weight: 700;
    margin-left: 60px;
    text-align: center;
}
.header nav ul{
    text-decoration: none;
    padding: 20px;
    display: flex; 
    font-family: 'Roboto', sans-serif;
    flex-direction: row; 
    align-items: center; 
    gap: 20px;
}
.header nav ul li{
    margin: 10px;
}
.header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
    flex-direction: row;
    font-weight: 650;
    transition: color 0.3s ease; 
}
.main-menu{
    width: 100px;
    height: 112px;
    display: flex;
    flex-direction: row;
}
.dropdown-menu{
    display: none; 
    position: absolute; 
    background-color: white;
    box-shadow: 20%;
    padding: 5px;
    z-index: 99; 
}
.dropdown-menu a{
    display: block;
    padding: 5px 10px; 
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    overflow: hidden;
}
.dropdown > a{
    text-decoration: none;
    color: black;
    overflow: hidden;
}
.dropdown:hover .dropdown-menu{
    display: block; 
}
.dropdown > a:hover{
    color: #e60000;
}
.dropdown-menu a:hover{
    background-color: white;
    color: rgb(206, 206, 20);
}
.phone{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
    margin-top: 10px;
    color: black;
}
.phone img{
    width: 49px; 
    height: 49px;
}
.phone .text{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}
.phone span{
    margin: 0; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 650;
    color: black; 
}
.number{
    margin: 0; 
    cursor: pointer;
}
.phone p{
    margin: 0; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 800;
    color: red; 
}
.cart{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
    margin-top: 5px;
    color: black;
}
.cart img{
    width: 49px; 
    height: 49px;
}
.search{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
    margin-top: 4px;
    cursor: pointer;
    color: black;
}
.search img{
    width: 45px; 
    height: 45px;
}
